.epark_content{
    margin: -15px;
    margin-top:-20px;
}
.epark_content .content{
     background-color: #161616;
     padding: 15px;
 }
.full_button_group{
    display: flex;
}
.full_button_group>div{
    width: 100%;
    text-align: center;
    color: white;
}
.full_button_group button{
    border-top: solid grey 1px;
    border-bottom: solid grey 1px;
    border-left: solid grey 1px;
    border-right: none;
    height: 24px;
    line-height: 12px;
    width: 100%;
    color: grey;
}


.full_button_group button.active{
    background-color: #d9d9d9;
}

.epark_content_menu{

}
.epark_content_row{
    border-bottom:solid #9e9e9e 1px;
}

.epark_content .left_nav .nav_item{
    cursor: pointer;
    padding: 4px 0;
    margin-top: 6px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #cf5600;
    list-style: none;
}
.epark_content .left_nav .nav_item:hover{
    background-color: #e1c698;
}

.epark_content .left_nav .nav_item i{
    font-size: 28px;
}
